<p>
    vuelos works!
</p>

<!-- Ocupando RouterLinks que son relativos dentro de la ruta -->
<div class="navLinks">
    <a [routerLink]="['./main']">Main</a>
    <span>&nbsp;&nbsp;</span>
    <a [routerLink]="['./mas-info']">Mas Info</a>
    <span>&nbsp;&nbsp;</span>
    <a [routerLink]="['./', 5]">Vuelo 5</a> <!-- Se envía el parámetro a la URL -->
</div>

<router-outlet></router-outlet>
