<div class="container content">
    <div class="row">
        <div class="col-md-6"> <!-- Manejar el espacio horizontal de Bootstrap -->
            Hola
        </div>
        <div class="col-md-6"> <!-- Manejar el espacio horizontal de Bootstrap -->
            Mundo!
        </div>    
    </div>
</div>