<div class="card-content">
    <div class="card-img">
        <img src="https://placeimg.com/380/230/nature" alt="">
        <!-- agregamos la variable posición -->
        <span><h4>{{position}}</h4></span>
    </div>
    <div class="card-desc">
        <h3>{{destino.nombre}}</h3>
        <p>Servicios</p>
        <ul>
            <li *ngFor="let s of destino.servicios">
                <span [ngSwitch]="s"> 
                    <!-- uso de la directiva switch, poner las reglas de la condición 'constante string'-->
                    <i *ngSwitchCase = "'desayuno'" style="color: red;">{{s}}</i>
                    <i *ngSwitchDefault>{{s}}</i>
                </span>
            </li>
        </ul>
        <!-- Botones de votos -->
        <div>
            <a href="#" (click)="voteUp()"><i class="material-icons md-18">thumbs_up</i></a>
            <a href="#" (click)="voteDown()"><i class="material-icons md-18">thumbs_down</i></a>
            <p>{{destino.votes}}</p>
        </div>

        <a href="#" class="btn-card" (click)="ir()">Ir!</a>
        <!-- mostrar la información con el atributo display 
        <span [style.display]="destino.isSelected() ? '' : 'none'">~ PREFERIDO ~</span>
        -->
        <span *ngIf="destino.isSelected()">
            <!-- todo lo que este adentro no va a ser variable Angular-->
            <span ngNonBindable>{{PREFERIDO}}</span>
        </span>
        <a [routerLink]="['/destino']">Ver Detalle</a>
    </div>
</div>

<!-- Actividad solicitad en la Lección 3
<ul>
    <li>
        {{destino.nombre}} // variable del componente
    </li>
</ul>
-->