<!-- Agregar nuevas directivas
    Se está vinculando el formulario a un objeto fg en este caso -->
<form
    [formGroup]="fg"
    (ngSubmit)="guardar(fg.controls['nombre'].value, fg.controls['url'].value)"> <!-- fg.controls tienen todos los inputs asociados, cada Submit invocará esta función-->
    <div class="form-group">
        <label for="nombre">Nombre</label>
        <input type="text" class="form-control" id="nombre" placeholder="Ingresar nombre..." 
            formControlName='nombre'> <!-- Directiva de Angular: [formControl] = fg.controls['nombre'] //Objeto que representa en el input -->
        <!-- Agregar un autocompletado sencillo-->
        <ul>
            <li *ngFor="let r of searchResults;">{{r}}</li> <!-- Poner una sugerencia -->
        </ul>
        <div *ngIf="fg.controls['nombre'].hasError('required')">nombre requerido!</div>
        <!-- Validaciones personalizadas -->
        <div *ngIf="fg.controls['nombre'].hasError('invalidNombre')">nombre inválido!</div>
        <div *ngIf="fg.controls['nombre'].hasError('minLongNombre')">nombre debe tener al menos {{minLongitud}} de largo!</div>
    </div>
    <div class="form-group">
        <label for="Imagen Url">Imagen Url</label>
        <input type="text" class="form-control" id="imagenUrl" placeholder="Ingresar url..." 
            formControlName='url'> <!-- Directiva de Angular: [formControl] = fg.controls['url'] //Objeto que representa en el input -->
        <div *ngIf="!fg.controls['url'].valid">URL requerido</div>
    </div>
    <button type="submit" class="btn btn-primary" *ngIf="fg.valid">Guardar!</button> <!-- No requiere ningún evento adicional, ya que el propio botón submit ya tiene el evento -->
    <!-- Con el fg.valid no aparece el botón hasta que sea correcto el formulario -->
</form>
