<div class="page-header">
  <div style="float: right;">
    <select (change)="translate.use(selectLang.value)" #selectLang> <!-- se pregunta por el valor -->
      <option value="es">Español</option>
      <option value="fr">France</option>
      <option value="en">English</option>
    </select>
  </div>
</div>

<div class="container content">
  <div class="page-header">
    <div class="container">
      <h1>Ruteo Simple</h1>
      <div class="navLinks">
        <a [routerLink]="['/home']">Home</a>
        <span>&nbsp;&nbsp;</span> <!-- Espacio entre los links -->
        <a [routerLink]="['/destino']">Destino</a>
        <span>&nbsp;&nbsp;</span>
        <a [routerLink]="['/reservas']">Reservas</a>
      </div>
    </div>
  </div>

  <div class="row">
    <h1>
      {{ title }} <b [innerHtml]="'HOLA' | translate"></b> <!-- Busca la traducción del texto -->
    </h1>  
  </div>
  <!-- Va a empezar a variar
    <app-destino-viaje></app-destino-viaje>
  <app-lista-destinos></app-lista-destinos> -->

  <router-outlet></router-outlet> <!-- Detecta el router -->
  <!-- vincular a la variable título 
  <input name="titulo" type="text" #titulo>
  <input name="boton" type="submit" (click)="agregar(titulo.value)">
  -->
</div>
<hr class="mb-5">
<p>Fecha: {{ time | async }}</p> <!-- Obtener el tiempo real de la aplicación (vincular la imagen de HTML pero va ser asincrónicamente actualizada) -->