<p>
    reservas-listado works!
</p>
<!-- Links relativos sin router-->
<a [routerLink]="['./', 10]">Ir a detalle</a>
<span>&nbsp;&nbsp;</span>
<a [routerLink]="['/login']">Ir a login</a>

<div *ngFor="let r of api.getAll()"> <!-- uso de la variable api de su TS-->
    {{r.id}} - {{r.name}}
</div>
